/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(to left, #DFE4FF, #8C94C9, #3F4B97);
    padding: 20px 10px;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

/* Khi thu gọn */
.sidebar.collapsed {
    width: 70px;
}

/* Tiêu đề sidebar */
.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    transition: opacity 0.2s ease;
}

/* Ẩn chữ khi sidebar thu gọn */
.sidebar.collapsed .sidebar-title {
    opacity: 0;
}


/* MENU ITEM */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-menu li {
    margin-bottom: 12px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s ease;
    font-size: 16px;
    white-space: nowrap;
}

.sidebar-menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Icon */
.sidebar-menu i {
    font-size: 20px;
    margin-right: 12px;
    min-width: 24px;
}

/* Sidebar thu gọn → ẩn text */
.sidebar.collapsed a span {
    display: none;
}

/* Sidebar thu gọn → icon căn giữa */
.sidebar.collapsed .sidebar-menu i {
    margin-right: 0;
    text-align: center;
    width: 100%;
}


/* THU GỌN */
.toggle-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: none;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
    z-index: 1001;
}




/* MAIN CONTENT*/
.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed ~ .main-content {
    margin-left: 70px;
}


body {
    overflow-x: hidden;
}
