* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.header {
    color: white;
    padding: 40px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header h1, .header p {
    text-align: left;
}
.row{
    display: flex;
}
.img-fluid {
    width: 250px;
    height: 250px;
    margin: 10px 20px;
    border-radius: 20px;
}
.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://wallpapercave.com/fuwp-510/uwp4271677.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
    z-index: -1;
}
.container{
    width: 100%;
    max-width: 400px;
    padding: 20px;    
}
.glass-card{
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 25px;
    border-radius: 16px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
    color: white;
    animation: fadeInUp 0.5s ease-out;
}
.glass-card h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.glass-card p{
    font-size: 14px;
    margin-bottom: 25px;
    opacity: 0.8s;
}
.glass-card label{
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}
.glass-card input{
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}
.glass-card inpu ::placeholder{
    color: rgb(225, 225, 225, 0.7);
}
.glass-card button{
    width: 100%;
    padding: 12px 14px;
    border: none;
    border-radius: 8px;
    background-color: rgb(225, 225, 225, 0.2);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.glass-card button:hover{
    background-color: rgb(225, 225, 225, 0.4);
}
.footer{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}
.footer a{
    color: white;
    text-decoration: underline;
    font-weight: 500;
}
.footer a:hover{
    opacity: 0.8;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
