/* header */
body {
    font-family: Arial, Helvetica, sans-serif;

}

.body {
    padding: 20px 10%;
    

}

.header {
    background-color: #F3F4FF ;
    padding: 20px;
    text-align: center;
    height: 120px;
}

.header h1 {
    color: #333;
}

.header p {
    color: #666;
}

.header img {
    max-width: 150px;
    height: auto;
}

.header .container .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* body */
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btthem {
    width: 100%;
    background: linear-gradient(to right, #DFE4FF, #8C94C9, #3F4B97);
    background-size: 250% 250%;
    background-position: 0% 50%;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition:
        background-position 0.8s ease-in-out,
        color 0.4s ease-in-out,
        background 0.8s ease-in-out;
}

.btthem:hover {
    background: linear-gradient(to left, #DFE4FF, #8C94C9, #3F4B97);
    background-size: 250% 250%;
    background-position: 100% 50%;
}



.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/* hình hiện tại */
.d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
}

.d-flex .me-2 {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #bbb;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.d-flex .me-2:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.d-flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form select {
    width: 100%;
    padding: 12px 18px;
    margin: 15px 0;        /* Tăng khoảng cách */
    border: 1px solid #aaa;
    border-radius: 6px;
    background: #fafafa;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Hover cho select */
form select:hover {
    border-color: #5561c0;
    background: #f0f2ff;
}