{% load static %}
{% load humanize %}
{% include "ss/head.html" %}
{% include "ss/header.html" %}
{%load humanize%}



<body>

    {% for d, sp_list in dm_sp  %}
    <br>
    <div class="category-box">

        <h2 class="catalog">{{ d.ten_dm }} {{ncc.ten_ncc}}</h2>

        <div class='product-grid' >
            {% if sp_list%}
            {% for sp in sp_list %}
           
            <div class="product-card">

                <div class="product-image">
                    <img src="{{ sp.hinh_anh.first.hinh.url }}" alt="">
                </div>

                <h3><a href="{% url 'ct' sp.ma_sp%}" class="link">{{ sp.ten_sp }}</a></h3>
                <p>{{ sp.mo_ta|truncatechars:50 }}</p>

                <div>
                    {% if sp.giam_gia %}
                        <s>{{ sp.giam_gia | floatformat:0 | intcomma }}đ</s>  
                        <strong>{{ sp.gia | floatformat:0 | intcomma }}đ</strong>
                    {% else %}
                        <strong>{{ sp.gia | floatformat:0 | intcomma  }}đ</strong>
                    {% endif %}
                </div>

            </div>

            
                    
            {% endfor %}
            {% else %}
                <strong>
    Chưa có sản phẩm nào
</strong>
            {%endif%}
        </div>
        
    </div>
        {% if sp_list%}
        <button style=" margin-left:12px; background-color:#8C94C9;"  > <a style="text-decoration:none; color:white;  " href='{% url 'mr' d.ten_dm ncc.id %}'>  Xem thêm </a> </button> <br>
        {%else%}
        {%endif%}
    {% endfor %}

</body>

{% include 'ss/footer.html' %}