{%load static%}

 <link rel="stylesheet" href="{% static 'css/signup-login.css'%}">

{% include 'ss/header.html'%}

<body>
<div >
        <div class="background"></div>
        <div class="container">
            
            <form class="glass-card" method="POST">
                {% csrf_token %}
                <h2>Register</h2>
                <p>Please fill in this form to create an account</p>
                <label for="username">Username</label>
                <input type="text" name='username' id="username" placeholder="Username" required />

                <label for="email">Email</label>
                <input type="email" name='email' id="email" placeholder="you@gmail.com" required>

                <label for="password">Password</label>
                <input type="password" name='password1' id="password" placeholder="********" required>

                <label for="password">Password again</label>
                <input type="password" name='password2' id="password" placeholder="********" required>

                <label for="phone">Phone</label>
                <input type="phone" name='phone' id="phone" placeholder="********" required>
                <button type="submit">Đăng Ký</button>
                <div >
                    <p >Already have an account? <a href="{% url 'dn' %}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>