{%load static%}


 <link rel="stylesheet" href="{% static 'css/signup-login.css'%}">

{% include 'ss/header.html'%}



<body>
    <div >
        <div class="background"></div>
        <div class="container">
            <form class="glass-card" method="POST">
                {% csrf_token %}
                <h2>Login</h2>
                <p>Please login to your account</p>
                <label for="username">Uername</label>
                <input type="text" id="username" name="username" placeholder="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="********" required>

                <button type="submit">Đăng nhập</button>
                <div >
                    <p>Don't have an account? <a href="{%url 'dk'%}">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</body>