{%load static%}

 <link rel="stylesheet" href="{% static 'css/signup-login.css'%}">

{% include 'ss/header.html'%}

<body>
<div >
        <div class="background"></div>
        <div class="container">
            
            <form class="glass-card" method="POST">
                {% csrf_token %}
                <h2>Register</h2>
                <p>Please fill in this form to create an account</p>
                <label for="username">Tên người dùng</label>
                <input type="text" name='username' id="username" placeholder="Username" required />

                <label for="phone">Số điện thoại</label>
                <input type="phone" name='phone' id="phone" placeholder="********" required>

                <label for="so_nha">Số nhà</label>
                <input type="text" name="so_nha" id="so_nha" placeholder="12/5" required>

                <label for="duong">Tên đường</label>
                <input type="text" name="duong" id="duong" placeholder="Lê Lợi" required>

                <label for="phuong">Phường / Xã</label>
                <input type="text" name="phuong" id="phuong" placeholder="Phường 4" required>

                <label for="district">Quận / Huyện</label>
                <input type="text" name="district" id="district" placeholder="Gò Vấp" required>

                <label for="city">Tỉnh / Thành phố</label>
                <input type="text" name="city" id="city" placeholder="TP. Hồ Chí Minh" required>

                <label for="email">Email</label>
                <input type="email" name='email' id="email" placeholder="you@gmail.com" required>

                <label for="password">Mật khẩu</label>
                <input type="password" name='password1' id="password" placeholder="********" required>

                <label for="password">Nhập lại mật khẩu</label>
                <input type="password" name='password2' id="password" placeholder="********" required>

                
                <button type="submit">Đăng Ký</button>
                <div >
                    <p >Already have an account? <a href="{% url 'dn' %}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>