{% load static %}
{% load humanize %}

{% include 'ss/head.html' %}

<div class="container">

    <h2>Tất cả danh mục</h2>
           <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Tên Danh Mục</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dm %}
                            
                            <tr>
                                <td> {{d.ten_dm}} </td>
                            </tr>
                            {%endfor%}
                    

                        </tbody>
                    </table>
                </div>
            </div>
    <li><a href="{% url 'tdm'%}"><i class="bi bi-folder-plus"></i> <span>+ Thêm Danh Mục</span></a></li>
</div>