{% load static %}
{% load humanize %}

{% include 'ss/head.html' %}
{% include "ss/header.html" %}
<br>
<div class="container">

    <h2>Tất cả danh mục</h2>
           <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Tên Danh Mục</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dm %}
                            
                            <tr>
                                <td class="d-flex justify-content-between align-items-center">
                                        {{ d.ten_dm }}

                                    <a href="{% url 'xdm' d.id %}" class="btn btn-sm btn-outline-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {%endfor%}
                    

                        </tbody>
                    </table>
                </div>
            </div>
    <li><a href="{% url 'tdm'%}"><i class="bi bi-folder-plus"></i> <span>+ Thêm Danh Mục</span></a></li>
</div>