
{%load static%}

<style>

/* footer */
  footer {
    background: #8C94C9;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
  }

  .image img {
    height: 100px;
    margin-top: 10px;
  }

</style>


<footer>
    <div style="display: flex; justify-content: space-around; text-align: left;">
      <div style="padding: 0 2rem;">
        <h3>Thông tin liên hệ</h3>
        <div>
          <p>📍 122/27 Trần Hê Thương, 3 - Quận 2, Tp.HCM</p>
          <p>☎️ 0825 991 538</p>
          <p>✉️ nguuonweiarch0520@gmail.com</p>
          <p>⏰ 08h00 - 22h30 các ngày trong tuần</p>
        </div>
      </div>
      <div style="padding: 0 2rem;">
        <h3>Chuyên Khoản Online</h3>
        <div>
          <p>MB Bank: Nguyễn Minh Tú</p>
          <p>Số tài khoản: 0021301538</p>
          <p>Xem Thêm: Cầu Tây Ngôi Hùng</p>
        </div>
      </div>
      <div style="padding: 0 2rem;">
        <h3>Fanpage</h3>
        <div>
          <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <div class="image"><img src="{% static 'images/hinhanh/logo.png'%}" alt=""></div>
      </div>
      <div style="padding: 0 2rem;">
        <h3>Lý do chọn TDK SHOES</h3>
        <ul style="padding-left: 0;">
          <li style="list-style-type: none;">✓ Cam Kết Hàng Chính Hãng</li>
          <li style="list-style-type: none;">✓ Giải Pháp 100% Hàng Ở Trung Tâm</li>
          <li style="list-style-type: none;">✓ Giao Hàng Nhanh Chóng Đúng Hẹn</li>
          <li style="list-style-type: none;">✓ Miễn Phí Ship Hàng Từ 3 Đôi</li>
        </ul>
      </div>
    </div>
    <div>
      <p>© 2025 TDK SHOES — Giày thể thao chính hãng. All rights reserved.</p>
    </div>
  </footer>