{% include "ss/header.html" %}

{% include "ss/head.html" %}
 
{%load humanize%}




<body> 
    <br>
<div class="category-box">
        <h2 class="category-title">{{ dm.ten_dm }} {{ncc.ten_ncc}}</h2>

        <div class="product-grid">
            {% for m in more %}
            <div class="product-card">

                <div class="product-image">
                    <img src="{{ m.hinh_anh.first.hinh.url }}" alt="">
                </div>

                <h3><a href="{% url 'ct' m.ma_sp%}" class="link">{{ m.ten_sp }}</a></h3>
                <p>{{ m.mo_ta|truncatechars:50 }}</p>

                <div>
                    {% if m.giam_gia %}
                        <s>{{ m.giam_gia | floatformat:0 | intcomma }}đ</s>  
                        <strong>{{ m.gia | floatformat:0 | intcomma }}đ</strong>
                    {% else %}
                        <strong>{{ m.gia | floatformat:0 | intcomma  }}đ</strong>
                    {% endif %}
                </div>

            </div>
                
            {% endfor %}
        </div>

            
    </div>

</body>