{% load humanize %}
{% load static %}
{% include "ss/head.html" %}

<link rel="stylesheet" href="{% static 'css/quantri.css'%}">


<body>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <button class="toggle-btn" onclick="toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>

        <h4 class="sidebar-title">
            Quản Lý Shop
        </h4>

        <ul class="sidebar-menu">
                <li><a href="{% url 'tc'%}"> <span>Home</span></a></li>
                <li><a href="{% url 'qldm'%}"><i class="bi bi-folder-plus"></i> <span>Danh Mục</span></a></li>
                <li><a href="{% url 'qlsp'%}"><i class="bi bi-bag-plus"></i> <span>Sản Phẩm</span></a></li>
                <li><a href="{% url 'qlncc'%}"><i class="bi bi-truck"></i> <span>Nhà Cung Cấp</span></a></li>
                <li><a href="{% url 'qlnd'%}"><i class="bi bi-people"></i> <span>Người dùng</span></a></li>
           
           
            
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="container py-5">
            <h2 class="mb-4 text-center">📊 Dashboard Quản lý đơn hàng</h2>

            <!-- Tổng quan -->
            <div class="row text-center mb-4">
                <div class="col-md-4">
                    <div class="card p-3 shadow-sm">
                        <h5>Tổng đơn</h5>
                        <h3>{{td}}</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 shadow-sm bg-warning-subtle">
                        <h5>Đang chờ</h5>
                        <h3>{{dc}}</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 shadow-sm bg-warning-subtle">
                        <h5>Đã xác nhận</h5>
                        <h3>{{dxn}}</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 shadow-sm bg-info-subtle">
                        <h5>Đang giao</h5>
                        <h3>{{dg}}</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 shadow-sm bg-success-subtle">
                        <h5>Hoàn thành</h5>
                        <h3>{{ht}}</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 shadow-sm bg-success-subtle">
                        <h5>Đơn hủy</h5>
                        <h3>{{dh}}</h3>
                    </div>
                </div>
            </div>

            <div class="text-center mb-5">
                <h4>Tổng doanh thu: <span class="text-success">{{dt|floatformat:0|intcomma }} đ</span></h4>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending"
                        type="button" role="tab"  >
                        Đang chờ xử lý
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="processed-tab" data-bs-toggle="tab" data-bs-target="#confirmed"
                        type="button" role="tab"  >
                        Đã xử lý
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping"
                        type="button" role="tab"  >
                        Đang giao hàng
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="delivered-tab" data-bs-toggle="tab" data-bs-target="#delivered"
                        type="button" role="tab"  >
                        Đã giao
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="cancelled-tab" data-bs-toggle="tab" data-bs-target="#cancelled"
                        type="button" role="tab"  >
                        Đã hủy
                    </button>
                </li>
            </ul>

            <div class="tab-content mt-4">
                <div class="tab-pane fade show active" id="pending" role="tabpanel">
                    {% include "ss/quantri_tab.html" with list_hd=ds trangthai="pending"  %}
                </div>

                <div class="tab-pane fade " id="confirmed" role="tabpanel">
                    {% include "ss/quantri_tab.html" with list_hd=ds trangthai="confirmed"  %}
                </div>

                <div class="tab-pane fade " id="shipping" role="tabpanel">
                    {% include "ss/quantri_tab.html" with list_hd=ds trangthai="shipping" %}
                </div>

                <div class="tab-pane fade " id="delivered" role="tabpanel">
                    {% include "ss/quantri_tab.html" with list_hd=ds trangthai="delivered" %}
                </div>

                <div class="tab-pane fade " id="cancelled" role="tabpanel">
                    {% include "ss/quantri_tab.html" with list_hd=ds trangthai="cancelled" %}
                </div>
            </div>
</div>


        </div>
    </div>
    <script src="{% static 'js/AllJS.js'%}"></script>
</body>
