

{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/Them.css'%}">
<body>


  {% include "ss/head.html" %}
{% include "ss/header.html" %}





<body>
    <div class="header">
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-sm-6 ">
                    <h1>Sửa Sản Phẩm {{sp.ten_sp}}</h1>
                </div>
                <div class="col-sm-6">
                    <a href="ss/index.html"><img src="{% static 'images/hinhanh/logo.png'%}" alt="" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        
        <div class="container mt-3">
            <div class="alert" role="alert">
            </div>
        </div>
        <main style=" max-width:70%; margin-left: 230px;">
            <article class="container mt-5">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token%}
                    <input type="text" name="t" class="form-control" value="{{ sp.ten_sp }}">
                    <input type="text" name="g" class="form-control" value="{{ sp.gia }}">
                    <input type="text" name="gg" class="form-control" value="{{ sp.giam_gia }}">

                    <!-- Hình hiện tại -->
        <div class="mb-3">
          <label class="form-label">Hình hiện tại</label>
          <div class="d-flex flex-wrap">
            {% for h in hinh_da_co %}
              <div class="me-2 mb-2">
               <img src="{{ h.hinh.url }}" width="100" class="img-thumbnail">
              </div>
            {% endfor %}
          </div>
        </div>

            <!-- Upload hình mới -->
        <div class="mb-3">
          <label class="form-label">Thêm hình mới</label>
          <input type="file" name="hinh" multiple class="form-control">
        </div>
                    

        {% comment %} <div>
        <h2>Chọn nhà cung cấp</h2>
          {%for n in ncc_list%}
            <label style="display:block; margin-bottom:4px;">
                <input type="checkbox" name="n" value="{{ n.ten_ncc }}" 
                {% if n.ten_ncc in ncc_da_co.ten_ncc %}checked {%endif%}
                >
                {{n.ten_ncc}}
          {%endfor%}
        </div> {% endcomment %}
        <div>
  <h2> Chọn nhà cung cấp </h2>
  {% for n in ncc_list %}
    <label style="display:block; margin-bottom:4px;">
        <input type="radio" name="n" value="{{ n.id }}"
               {% if n.id == ncc_da_co.id %} checked {% endif %}>
        {{ n.ten_ncc }}
    </label>
  {% endfor %}
</div>


        {% comment %} <div>
          <h2> Chọn danh mục </h2>
              {% for d in dm_list %}
                <label style="display:block; margin-bottom:4px;">
                <input type="checkbox" name="d" value="{{ d.ten_dm }}"
                  {% if d in dm_da_co %} checked {% endif %}
                >
                {{ d.ten_dm }}
               </label>
              {% endfor %}
        </div> {% endcomment %}
        <div>
  <h2> Chọn danh mục </h2>
  {% for d in dm_list %}
    <label style="display:block; margin-bottom:4px;">
        <input type="checkbox" name="d" value="{{ d.id }}"
               {% if d in dm_da_co %} checked {% endif %}>
        {{ d.ten_dm }}
    </label>
  {% endfor %}
</div>


       <div>
  <h2> Chọn size </h2>

  {% for s in size_list %}
    <label style="display:block; margin-bottom:4px;">

      <!-- checkbox chọn size -->
      <input type="checkbox" name="s" value="{{ s.id }}"
        {% for item in size_da_co %}
          {% if item.size.id == s.id %} checked {% endif %}
        {% endfor %}>
      {{ s.size }}

      <!-- số lượng của size -->
      <input type="number"
             name="sl_{{ s.id }}"
             value="
                {% for item in size_da_co %}
                  {% if item.size.id == s.id %}
                    {{ item.so_luong }}
                  {% endif %}
                {% endfor %}
             "
             placeholder="SL"
             style="width:70px; margin-left:8px;">
    </label>
  {% endfor %}
</div>


                    <button type="submit" class='btthem'>Sửa</button>
                </form>

            </article>
        </main>
    </div>
</body>