{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/Them.css'%}">
<body>


{% include "ss/header.html" %}





<body>
    <div class="header">
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-sm-6 ">
                    <h1>Thêm Sản Phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <a href="ss/index.html"><img src="{% static 'images/hinhanh/logo.png'%}" alt="" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        
        <div class="container mt-3">
            <div class="alert" role="alert">
            </div>
        </div>
        <main style=" max-width:70%; margin-left: 230px;">
            <article class="container mt-5">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token%}
                    <input type="text" name="t" placeholder="Tên sản phẩm">
                    <input type="text" name="g" placeholder="Giá sản phẩm">
                    <input type="text" name="gg" placeholder="Giá giảm">
                    <span> Hình ảnh sản phẩm <br>
                        <input type="file" name="hinh" multiple>
                    </span>
                    

                    <div>
                    <h2> Chọn nhà cung cấp </h2>
                    <select name='h' multiple>
                        
                        {%for n in ncc_list%}
                             <option value='{{n.ten_ncc}}'> {{n.ten_ncc}}</option>
                        {% endfor %}
                    </select> 
                </div>

                <div>
                    <h2> Chọn danh mục </h2>
                    <select name='d' multiple>
                        
                        {%for d in dm_list%}
                            <option value='{{d.ten_dm}}'> {{d.ten_dm}}</option>
                         {% endfor %}
                    </select>
                </div>

                <div>
                     <h2> Chọn size </h2>
                    <select name='s' multiple>
                        <span> Chọn Size </span>
                        {%for s in size_list%}
                            <option value='{{s.size}}'> {{s.size}}</option>
                        {% endfor %}
                    </select>
                </div>

                    <input type="text" name="sl" placeholder="Số lượng sản phẩm">

                    <button type="submit" class='btthem'>Thêm</button>
                </form>

            </article>
        </main>
    </div>
</body>