{% load static %}
{% load humanize %}

{% include 'ss/head.html' %}
{% include "ss/header.html" %}
<br>
<div class="container">

    <h2>Thông tin cá nhân</h2>
           <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Tên Người Dùng</th>
                                <th>Số Điện Thoại</th>
                                <th>Mail</th>
                                <th>Địa Chỉ</th>
                                <th>Ngày Tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td> {{tt.username}} </td>
                                <td> {{tt.phone}}</td>
                                <td> {{tt.email}}</td>
                                <td> {{tt.diachi_daydu}}</td>
                                <td> {{tt.date_joined|date:"d/m/Y H:i"}}
                                    
                                </td>
                                
                            </tr>
                            <tr> 
                                <td>
                                 <a href="{% url 'dx' %}" class="btn btn-sm btn-outline-danger">
                                        Đăng xuất
                                    </a>
                                <a href="{% url 'stt' %}" class="btn btn-sm btn-outline-danger">
                                        Chỉnh sửa thông tin
                                    </a>
                                </td>
                            </tr>
                            
                            
                    

                        </tbody>
                    </table>
                </div>
            </div>
</div>