{%load static%}
{% load humanize %}

{% include 'ss/head.html'%}

{% include 'ss/header.html'%}



<article class="container mt-5">


  <h1> Kết quả: {{tukhoa}} </h1>
  <div style="display: flex; align-items: center; justify-content: center; gap: 1rem;">
    
      <div class="warper" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem;">
        
        {%for s in kq%}
        <div class="Products-sale">
          
          <div>
            {%if s.hinh_anh.all%}
            <div class="image img"><img src="{{s.hinh_anh.first.hinh.url}}"></div>
           {%endif%}
          </div>  
          <h3><a href="{%url 'ct' s.ma_sp %}" style ='color: black;
    text-decoration: none;'> {{s.ten_sp}} </a></h3>
          <p>{{s.mo_ta}}</p>
          <div ><s>{{s.gia| floatformat:0 | intcomma}}đ</s> <strong>{{ s.gia | floatformat:0 | intcomma  }}đ</strong></div>
        </div>
        {% endfor %}
       

    </div>
</article>
